<div class="page">
  <div class="application_menu">
    <%= link_to "New", new_stock_card_path, remote: true %>
  </div>
	<div class="stock_cards">
  	<%= render :partial => 'stock_card', :collection => @stock_cards, :as => 'stock_card' %>
		<p class="clear"></p>
	</div>
</div>