<section class="form tiny center clearfix">
  <heading>
    <h1>Modelario</h1>
  </heading>
  <%= form_for @modelario do |f| %>
    <fieldset>
      <label>Modelario Name</label>
      <%= f.text_field :title %>
      <%= collection_select(:modelario, :color_theme_id, ColorTheme.all, :id, :name) %>
    </fieldset>
    <%= f.submit 'Update', :class => 'button' %>
  <% end %>
</section>
