/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require token-input-facebook.css
*/

@import "modelario.css.scss";
@import "assignments.css.scss";
@import "modelario.css.scss";
@import "offers.css.scss";
@import "sections.css.scss";
@import "sections.css.scss";
@import "print.css.scss";

$border_blue: #70A7BB;
$menu_gray: #F5F5F5;
$menu_border_gray: #DEDEDE;

@mixin rounded_corners($radius: 5px) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	-khtml-border-radius: $radius;
	border-radius: $radius;
}

.clear {
	border: 0;
	margin: 0;
	padding: 0;
	clear: both;
}

.hidden {
	display: none;
}

body {
	background: #121212;
	font-family: Arial, "san-serif";
	margin: 0;
	padding: 0;
	border: 0;
}

h1.title {
	width: 100%;
	height: 1.75em;
	margin: 0;
	padding: 0.75em 0 0 0.75em;
	border-bottom: 2px solid #2F2F2F;
	background: #202020;
	font-size: 1.2em;
	a {
	  text-decoration: none;
		color: #D1D1D1;
	}
}

div.page {
	background: white;
	border: 1px solid #E4E4E4;
	margin: 50px;
}



div.menu {
	padding-top: 8px;
	width: 100%;
	background: $menu_gray;
	border-bottom: 1px solid $menu_border_gray;
	
	a {
		font: bold 12px/1.4em "Lucida Grande", Arial, Verdana;
		color: white;
		text-decoration: none;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
		filter: dropshadow(color=#1c1c1c,offx=0,offy=1);
		display: block;
		display: inline-block;
		text-align: center;
		border: none;
		padding: 5px 35px;
		margin-left: 20px;
		margin-bottom: 10px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2),inset 0 2px 0 rgba(255,255,255,.25);
		-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2),inset 0 2px 0 rgba(255,255,255,.25);
		box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2),inset 0 2px 0 rgba(255,255,255,.25);
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
		background-clip: padding-box;
		border-image: initial;
		/* Coloring */
		color: #1A1A1A;
		text-shadow: 0 0 1px white;
		background: #F9F9F9;
		background: #F9F9F9 -webkit-gradient( linear,0% 0%,0% 100%,from(rgba(255, 255, 255, .2)),to(transparent));
		background: #F9F9F9 -moz-linear-gradient( top,rgba(255, 255, 255, .4),transparent);

		&:hover {
			background: #F9F9F9 -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255, 255, 255, .55)),to(transparent));
			background: #F9F9F9 -moz-linear-gradient( top,rgba(255, 255, 255, .55),transparent);
			cursor: pointer;
		}

		&:active {
			background:#f9f9f9 -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,.3)),to(rgba(0,0,0,0)));background:#f9f9f9 -moz-linear-gradient( top,rgba(0,0,0,.1),rgba(0,0,0,0));
		}
	}
}

div.form {
	display: box;
	border: 1px solid $border_blue;
	margin: 5px auto;
	padding: 15px;
	background: #C2E9F8;
	text-align: center;
	
	h1 {
		text-align: left;
		margin: 0 0 1em 0;
		font-size: 1.2em;
		border-bottom: 1px solid $border_blue;
		padding-bottom: 0.5em;
	}
	
	label {
		display: box;
		color: #2F2F2F;
	}
	
	&.small {
		width: 300px;
	}
	
	div.button_bar {
		margin-top: 1em;
		padding-top: 0.5em;
		border-top: 1px solid $border_blue;
		text-align: right;
	}
}

#popup {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	padding-top: 5%;
	background: rgba(255,255,255,0.5);
}

.resizable {
	border: 2px solid black;
	width: 100px;
	height: 100px;
	background: white;
	position: relative;
	.ui-resizable-se {
		position: absolute;
		background: green;
		width: 10px;
		height: 10px;
		bottom: 0px;
		right: 0px;
	}
}