/* Styling for user forms */

.form {
	//display: box;
	border: 1px solid $border_blue;
	margin: 5px auto;
	padding: 15px;
	background: #C2E9F8;
	text-align: center;
	color: #2F2F2F;
	
	h1 {
		text-align: left;
		margin: 0 0 1em 0;
		font-size: 1.2em;
		border-bottom: 1px solid $border_blue;
		padding-bottom: 0.5em;
	}
	
	&.small {
		width: 300px;
	}
	
	div.button_bar {
		margin-top: 1em;
		padding-top: 0.5em;
		border-top: 1px solid $border_blue;
		text-align: right;
	}
}