@mixin rounded_corners($radius: 5px) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	-khtml-border-radius: $radius;
	border-radius: $radius;
}

@mixin flex_box_horizontal {
	display: box;
	display: -webkit-box;
	display: -moz-box;
	box-orient: horizontal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
}

@mixin flex_box_vertical {
	display: box;
	display: -webkit-box;
	display: -moz-box;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}