<div class="page">
  <div class="application_menu">
    <%= link_to 'Modelarios', modelarios_path %>
    <%= link_to 'Stock Cards', stock_cards_path %>
    <%= link_to 'Assignment', assignments_path %>
    <%= link_to 'popuptest', new_stock_card_path, :remote => true %>
  </div>
</div>

